.upload-zone {
  background-color: lightgrey;
  padding: 20px;
  min-width: 200px;
  border-radius: 10px;
  border: 4px black dashed;
}

.scroll-wrapper {
  overflow: scroll;
  height: 100%;

  max-height: 80vh;
}

.selected {
  background-color: lightgray;
}

.btn {
  margin-right: 10px;
  margin-bottom: 5px;
}
small {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
}

header {
  margin-bottom: 20px;
}
